div(ng-show='error').alert.alert-danger.fade.in
  a(href='#' data-dismiss='alert').close &times;
  strong Error!
  |  {{error}}
div(ng-if='erasmusList !== null')
  h3 There are currently {{erasmusList.length}} Erasmus students in the system:
  div.row
    div.col-md-9
      div.panel.panel-default
        div.panel-heading
          h4 Filters
        form.panel-body
          div.input-group
            span.input-group-addon Name:
            input(type='text' ng-model='filters.name').form-control
          br
          div.input-group
            span.input-group-addon Only with peer:
            div.form-control
              label.radio-inline
                input(name='radio_with_peer' type='radio' ng-model='filters.withPeer' value='all')
                | All
              label.radio-inline
                input(name='radio_with_peer' type='radio' ng-model='filters.withPeer' value='y')
                | Yes
              label.radio-inline
                input(name='radio_with_peer' type='radio' ng-model='filters.withPeer' value='n')
                | No
    div(ng-if='erasmusList').col-md-3
      div.panel.panel-default
        div.panel-heading
          h4 Actions
        div.panel-body
          button(type='button' ng-click='match_students()').list-group-item Match
          a(href='/erasmus/new').list-group-item Add Erasmus
  div.row
    div.col-md-12.visible-lg.visible-md.hidden-sm.hidden-xs
      table(id='erasmusTable' ng-if='erasmusList').table.table-hover.table-bordered.table-striped
        thead
          tr
            th #
            th Register date
            th Name
            th Nationality
            th Studies
            th Faculty
            th Assigned peer
        tbody
          tr(ng-repeat='e in erasmusList.filter(filter_erasmus)' ng-click='$location.url("/erasmus/" + e.erasmus_id)' ng-class="{'danger': !e.has_peer}" style='cursor: pointer')
            td {{e.id}}
            td {{e.register_date}}
            td {{e.name}} {{e.surname}}
            td {{e.nationality}}
            td {{e.studies_name}}
            td {{e.faculty_name}}
            td {{e.has_peer ? "Yes" : "No"}}
      div(ng-if='erasmusList == null').text-center
        img(src='/img/giphy.gif')
    div.col-md-12.hidden-lg.hidden-md.visible-sm.visible-xs
      div.panel.panel-default
        ul.list-group
          a(href='/erasmus/{{e.erasmus_id}}' ng-repeat='e in erasmusList.filter(filter_erasmus)' ng-class="{'list-group-item-danger': !e.has_peer}").list-group-item {{e.name}} {{e.surname}}
            | {{e.has_peer ? '' : ' (no assigned peer)'}}
