div(ng-show='error').alert.alert-danger.fade.in
  a(href='#' data-dismiss='alert').close &times;
  strong Error!
  |  {{error}}
div(ng-if='erasmus !== null')
  h2 {{erasmus.name}} {{erasmus.surname}}
  div.row
    div.col-md-8
      div.panel.panel-default
        div.panel-heading
          h4 Personal information
        div.panel-body
          ul
            li(ng-if='erasmus.gender !== ""')
              b Gender: 
              | {{erasmus.gender ? "Male" : "Female"}}
            li(ng-if='erasmus.birthdate !== ""')
              b Birthdate: 
              | {{erasmus.birthdate}}
            li(ng-if='erasmus.nationality !== ""')
              b Nationality: 
              | {{erasmus.nationality}}
            li(ng-if='erasmus.email !== ""')
              b Email: 
              | {{erasmus.email}}
            li(ng-if='erasmus.phone !== ""')
              b Phone: 
              | {{erasmus.phone}}
            li(ng-if='erasmus.studies_name !== ""')
              b Studies: 
              | {{erasmus.studies_name}}
            li(ng-if='erasmus.faculty_name !== ""')
              b Faculty: 
              | {{erasmus.faculty_name}}
      div.panel.panel-default
        div.panel-heading
          h4 Buddy Pair information
        div.panel-body
          ul
            li(ng-if='erasmus.register_date !== ""')
              b Register date: 
              | {{erasmus.register_date}}
            li(ng-if='erasmus.gender_preference !== null')
              b Gender preference: 
              | {{erasmus.gender_preference ? "Male" : "Female"}}
            li(ng-if='erasmus.language_preference !== null')
              b Language preference: 
              | {{erasmus.language_preference ? "Spanish" : "English"}}
            li(ng-if='erasmus.arrival_date !== ""')
              b Arrival date: 
              | {{erasmus.arrival_date}}
            li(ng-if='erasmus.notes !== ""')
              b Notes: 
              | {{erasmus.notes}}
      div(ng-if='erasmus.assignedPeer != null').panel.panel-default
        div.panel-heading
          h4 Assigned peer
        div.list-group
          a(href='/peer/{{erasmus.assignedPeer.peer_id}}').list-group-item {{erasmus.assignedPeer.name}} {{erasmus.assignedPeer.surname}}
    div.col-md-4
      div.panel.panel-default
        div.panel-heading
          h4 Actions
        div.panel-body
          ul.list-group
            a(href='#' data-toggle='modal' data-target='#assignPeerDialog').list-group-item {{erasmus.assignedPeer !== "" ? "Change assigned peer" : "Assign a new peer"}}
            a(href='/erasmus/{{erasmus.erasmus_id}}/edit').list-group-item.list-group-item-warning Edit
            a(href='/erasmus' ng-click='deleteErasmus()').list-group-item.list-group-item-danger Delete
    div(id='assignPeerDialog').modal.fade
      div.modal-dialog
        div.modal-content
          div.modal-header
            button(type='button' data-dismiss='modal' aria-label='Close').close
              span(aria-hidden='true') &times;
            h4.modal-title Assign a new peer to {{erasmus.name}} {{erasmus.surname}}
          div.modal-body
            div(ng-if='availablePeers != null').panel.panel-default
              ul.list-group
                a(href='#' ng-click='setSelectedPeer(null)' ng-class="{'active': selectedPeer == null}").list-group-item Nobody
                a(href='#' ng-repeat='p in availablePeers' ng-click='setSelectedPeer(p)' ng-class="{'active': p.peer_id == selectedPeer.peer_id}").list-group-item {{p.name}} {{p.surname}} ({{p.num_erasmus}} Erasmus)
            div(ng-if='availablePeers == null').text-center
              img(src='https://media.giphy.com/media/3oEjI6SIIHBdRxXI40/giphy.gif')
            div.modal-footer
              button(type='button' data-dismiss='modal').btn.btn-default Close
              button(type='button' ng-click='updateAssignedPeer()' data-dismiss='modal').btn.btn-primary Save

div(ng-if='erasmus == null').text-center
  img(src='https://media.giphy.com/media/3oEjI6SIIHBdRxXI40/giphy.gif')
