div.container
  div.col-md-offset-2.col-md-8
    form(data-toggle='validator' role='form' ng-submit='submit()').form-horizontal
      div.panel.panel-default
        div.panel-heading
          h4 Student information
        div.panel-body
          div.form-group
            label(for='name').control-label.col-md-2 Name
            div.col-md-10
              input(type='text' placeholder='Name' id='name' ng-model='erasmus.name' required).form-control
          div.form-group
            label(for='surname').control-label.col-md-2 Surname
            div.col-md-10
              input(type='text' placeholder='Surname' id='surname' ng-model='erasmus.surname' required).form-control
          div.form-group
            label(for='gender').control-label.col-md-2 Gender
            div.col-md-10
              div.radio
                label #[input(type='radio' name='gender' id='gender' ng-model='erasmus.gender' ng-value='true' required)] Male
              div.radio
                label #[input(type='radio' name='gender' ng-model='erasmus.gender' ng-value='false' required)] Female
          div.form-group
            label(for='birthdate').control-label.col-md-2 Birthdate
            div.col-md-10
              // TODO: error binding date because of format
              input(type='date' id='birthdate' ng-model='erasmus.birthdate'  required).form-control
          div.form-group
            label(for='nationality').control-label.col-md-2 Nationality
            div.col-md-10
              select(id='nationality' ng-model='erasmus.nationality_name').form-control
                option(ng-repeat='c in countries') {{c.country_name}}
          div.form-group
            label(for='email').control-label.col-md-2 Email
            div.col-md-10
              input(type='email' id='email' placeholder='Email' ng-model='erasmus.email' required).form-control
          div.form-group
            label(for='phone').control-label.col-md-2 Phone number
            div.col-md-10
              input(type='tel' id='phone' placeholder='Phone number' ng-model='erasmus.phone').form-control
          div.form-group
            label(for='studies').control-label.col-md-2 Studies
            div.col-md-10
              select(id='studies' ng-model='erasmus.studies_name').form-control
                //option(ng-repeat='s in studies' ng-value='s.id') {{s.name}}
                option(ng-repeat='s in studies') {{s.name}}
          div.form-group
            label(for='faculty').control-label.col-md-2 Faculty
            div.col-md-10
              select(id='faculty' ng-model='erasmus.faculty_name').form-control
                //option(ng-repeat='f in faculties' ng-value='f.id') {{f.name}}
                option(ng-repeat='f in faculties') {{f.name}}
      div.panel.panel-default
        div.panel-heading
          h4 Erasmus information
        div.panel-body
          div.form-group
            label(for='register_date').control-label.col-md-2 Register date
            div.col-md-10
              input(type='datetime-local' id='register_date' ng-model='erasmus.register_date' required).form-control
          div.form-group
            label(for='gender_preference').control-label.col-md-2 Gender preference
            div.col-md-10
              div.radio
                label #[input(type='radio' name='gender_preference' ng-model='erasmus.gender_preference' ng-value='true' id='gender_preference')] Male
              div.radio
                label #[input(type='radio' name='gender_preference' ng-model='erasmus.gender_preference' ng-value='false')] Female
              div.radio
                label #[input(type='radio' name='gender_preference' ng-model='erasmus.gender_preference' ng-value='null')] No preference
          div.form-group
            label(for='language_preference').control-label.col-md-2 Language preference
            div.col-md-10
              div.radio
                label #[input(type='radio' name='language_preference' ng-model='erasmus.language_preference' ng-value='true' id='language_preference')] Spanish
              div.radio
                label #[input(type='radio' name='language_preference' ng-model='erasmus.language_preference' ng-value='false')] English
              div.radio
                label #[input(type='radio' name='language_preference' ng-model='erasmus.language_preference' ng-value='null')] No preference
          div.form-group
            label(for='arrival_date').control-label.col-md-2 Arrival date
            div.col-md-10
              input(type='datetime-local' id='arrival_date' ng-model='erasmus.arrival_date').form-control
          div.form-group
            label(for='notes').control-label.col-md-2 Notes
            div.col-md-10
              textarea(rows='5' id='notes' ng-model='erasmus.notes').form-control
      button(type='button' style='margin-right: 5px;').btn.btn-default Cancel
      button(type='submit').btn.btn-primary Submit
