div(ng-show='error').alert.alert-danger.fade.in
  a(href='#' data-dismiss='alert').close &times;
  strong Error!
  |  {{error}}
div(ng-if='erasmusList !== null')
  h3 There are currently {{erasmusList.length}} Erasmus students in the system:
  div.row
    div.col-md-9
      div.panel.panel-default
        div.panel-heading
          h4 Filters
        form.panel-body
          div.input-group
            span(style='min-width: 150px; text-align: left;').input-group-addon Name:
            input(type='text' ng-model='filters.name').form-control
          br
          div.input-group
            span(style='min-width: 150px; text-align: left;').input-group-addon Gender:
            div.form-control
              label.radio-inline
                input(name='male' type='radio' ng-model='filters.gender' value='all')
                | All
              label.radio-inline
                input(name='male' type='radio' ng-model='filters.gender' value='m')
                | Male
              label.radio-inline
                input(name='female' type='radio' ng-model='filters.gender' value='f')
                | Female
          br
          div.input-group
            span(style='min-width: 150px; text-align: left;').input-group-addon Nationality:
            // TODO: fix alignment of suggestions
            // TODO: add 'any country' selection
            ui-select(ng-model='filters.nationality')
              ui-select-match
                span(ng-bind='$select.selected.country_name')
              ui-select-choices(repeat='c in (countries | filter: $select.search) track by c.country_code')
                span(ng-bind='c.country_name')
          br
          div.input-group
            span(style='min-width: 150px; text-align: left;').input-group-addon Only with peer:
            div.form-control
              label.radio-inline
                input(name='radio_with_peer' type='radio' ng-model='filters.withPeer' value='all')
                | All
              label.radio-inline
                input(name='radio_with_peer' type='radio' ng-model='filters.withPeer' value='y')
                | Yes
              label.radio-inline
                input(name='radio_with_peer' type='radio' ng-model='filters.withPeer' value='n')
                | No
    div(ng-if='erasmusList').col-md-3
      div.panel.panel-default
        div.panel-heading
          h4 Actions
        div.panel-body
          button(type='button' ng-click='match_students(selected_semester.value.id)').list-group-item Match
          a(href='/erasmus/new').list-group-item Add Erasmus
  div.row
    div.col-md-12.visible-lg.visible-md.hidden-sm.hidden-xs
      table(id='erasmusTable' ng-if='erasmusList').table.table-hover.table-bordered.table-striped
        thead
          tr
            th #
            th Register date
            th Name
            th Nationality
            th Studies
            th Faculty
            th Assigned peer
        tbody
          tr(ng-repeat='e in erasmusList.filter(filter_erasmus)' ng-click='$location.url("/erasmus/" + e.erasmus_id)' ng-class="{'danger': !e.has_peer, 'warning': e.has_peer && !e.notified_erasmus}" style='cursor: pointer')
            td {{e.erasmus_id}}
            td {{e.register_date}}
            td {{e.name}} {{e.surname}}
            td {{(countries | filter : {'country_code': e.nationality} : true)[0].country_name}}
            td {{(studies | filter : {'id': e.studies} : true)[0].name}}
            td {{(faculties | filter : {'id': e.faculty} : true)[0].name}}
            td {{e.has_peer ? "Yes" : "No"}}
      div(ng-if='erasmusList == null').text-center
        img(src='/img/giphy.gif')
    div.col-md-12.hidden-lg.hidden-md.visible-sm.visible-xs
      div.panel.panel-default
        ul.list-group
          a(href='/erasmus/{{e.erasmus_id}}' ng-repeat='e in erasmusList.filter(filter_erasmus)' ng-class="{'list-group-item-danger': !e.has_peer, 'list-group-item-warning': e.has_peer && !e.notified_erasmus}").list-group-item {{e.name}} {{e.surname}}
            | {{e.has_peer ? '' : ' (no assigned peer)'}}
