div(ng-if='erasmusList !== null')
  h3 There are currently {{erasmusList.length}} Erasmus students in the system:
  div.row
    div.col-md-8
      div.panel.panel-default
        ul.list-group
          a(ng-repeat='e in erasmusList' href='/erasmus/{{e.erasmus_id}}').list-group-item {{e.name}} {{e.surname}}
    div.col-md-4
      div.panel.panel-default
        div.panel-heading
          h4 Actions
        div.panel-body
          // TODO: implement
          a(href='/unimplemented').list-group-item Match
          a(href='/unimplemented').list-group-item Manage Erasmus
          a(href='/unimplemented').list-group-item Add Erasmus
div(ng-if='erasmusList == null').text-center
  img(src='https://media.giphy.com/media/3oEjI6SIIHBdRxXI40/giphy.gif')
