div(ng-if='peerList !== null')
  h3 There are currently {{peerList.length}} peer students in the system:
  div.panel.panel-default
    div.panel-heading
      h4 Filters
    form.panel-body
      div.input-group
        span.input-group-addon Name:
        input(type='text' ng-model='filters.name').form-control
      br
      div.input-group
        span.input-group-addon Assigned Erasmus:
        div.form-control
          // TODO: implement in a more elegant way...
          label.checkbox-inline
            input(type='checkbox' ng-model='filters.numErasmus.zero' value='')
            | 0
          label.checkbox-inline
            input(type='checkbox' ng-model='filters.numErasmus.one' value='')
            | 1
          label.checkbox-inline
            input(type='checkbox' ng-model='filters.numErasmus.two' value='')
            | 2
          label.checkbox-inline
            input(type='checkbox' ng-model='filters.numErasmus.three' value='')
            | 3
  div.panel.panel-default
    ul.list-group
      a(ng-repeat='p in peerList.filter(filter_peers)' href='/peer/{{p.peer_id}}').list-group-item {{p.name}} {{p.surname}} ({{p.num_erasmus}} Erasmus)
div(ng-if='peerList == null').text-center
  img(src='https://media.giphy.com/media/3oEjI6SIIHBdRxXI40/giphy.gif')
