h3 There are currently {{peerList.length}} peer students in the system:
div.panel.panel-default
  ul.list-group
    a(ng-repeat='p in peerList' href='/peer/{{p.peer_id}}').list-group-item {{p.name}} {{p.surname}}
