div(ng-show='error').alert.alert-danger.fade.in
  a(href='#' data-dismiss='alert').close &times;
  strong Error!
  |  {{error}}
div(ng-if='peer !== null')
  h2 {{peer.name}} {{peer.surname}}
  div.row
    div.col-md-8
      div.panel.panel-default
        div.panel-heading
          h4 Personal information
        div.panel-body
          ul
            li(ng-if='peer.gender !== ""')
              b Gender: 
              | {{peer.gender ? "Male" : "Female"}}
            li(ng-if='peer.birthdate !== ""')
              b Birthdate: 
              | {{peer.birthdate}}
            li(ng-if='peer.nationality !== ""')
              b Nationality: 
              | {{peer.nationality}}
            li(ng-if='peer.email !== ""')
              b Email: 
              | {{peer.email}}
            li(ng-if='peer.phone !== ""')
              b Phone: 
              | {{peer.phone}}
            li(ng-if='peer.aegee_member !== ""')
              b AEGEE member? 
              | {{peer.aegee_member ? "Yes" : "No"}}
            li(ng-if='peer.nia !== null')
              b NIA: 
              | {{peer.nia}}
            li(ng-if='peer.studies_name !== ""')
              b Studies: 
              | {{peer.studies_name}}
            li(ng-if='peer.faculty_name !== ""')
              b Faculty: 
              | {{peer.faculty_name}}
            li(ng-if='peer.speaks_english !== ""')
              b Speaks English? 
              | {{peer.speaks_english ? "Yes" : "No"}}
      div.panel.panel-default
        div.panel-heading
          h4 Buddy Pair information
        div.panel-body
          ul
            li(ng-if='peer.register_date !== ""')
              b Register date: 
              | {{peer.register_date}}
            li(ng-if='peer.gender_preference !== null')
              b Gender preference: 
              | {{peer.gender_preference}}
            li(ng-if='peer.erasmus_limit !== ""')
              b Erasmus limit: 
              | {{peer.erasmus_limit}}
            li(ng-if='peer.notes !== ""')
              b Notes: 
              | {{peer.notes}}
      div(ng-if='peer.assignedErasmus.length > 0').panel.panel-default
        div.panel-heading
          h4 Assigned Erasmus
        ul.list-group
          a(ng-repeat='e in peer.assignedErasmus' href='/erasmus/{{e.erasmus_id}}').list-group-item {{e.name}} {{e.surname}}
    div.col-md-4
      div.panel.panel-default
        div.panel-heading
          h4 Actions
        div.panel-body
          ul.list-group
            a(href='#' data-toggle='modal' data-target='#assignErasmusDialog').list-group-item Modify assigned Erasmus
            a(href='/peer/{{peer.peer_id}}/edit').list-group-item.list-group-item-warning Edit
            a(href='/peers' ng-click='deletePeer()').list-group-item.list-group-item-danger Delete
    div(id='assignErasmusDialog').modal.fade
      div.modal-dialog
        div.modal-content
          div.modal-header
            button(type='button' data-dismiss='modal' aria-label='Close').close
              span(aria-hidden='true') &times;
            h4.modal-title Modify Erasmus assigned to {{peer.name}} {{peer.surname}}
          div.modal-body
            div(ng-if='availableErasmus != null').panel.panel-default
              ul.list-group
                a(href='#' ng-repeat='e in availableErasmus' ng-click='addSelectedErasmus(e)' ng-class="{'active': selectionContains(e) }").list-group-item {{e.name}} {{e.surname}}
            div(ng-if='availableErasmus == null').text-center
              img(src='https://media.giphy.com/media/3oEjI6SIIHBdRxXI40/giphy.gif')
            div.modal-footer
              button(type='button' data-dismiss='modal').btn.btn-default Close
              button(type='button' ng-click='updateAssignedErasmus()' data-dismiss='modal').btn.btn-primary Save
div(ng-if='peer == null').text-center
  img(src='https://media.giphy.com/media/3oEjI6SIIHBdRxXI40/giphy.gif')
