div.media
  span.media-left
    img(src='{{user.picture}}')
  div.media-body
    h2 {{user.name}}

div.panel.panel-default
  div.panel-heading
    h4 User information
  div.panel-body
    ul
      li
        b First name: 
        | {{user.given_name}}
      li
        b Last name: 
        | {{user.family_name}}
      li
        b Google+ profile: 
        a(href='{{user.profile}}') {{user.profile}}
      li
        b Email: 
        | {{user.email}}
