div(ng-show='error').alert.alert-danger.fade.in
  a(href='#' data-dismiss='alert').close &times;
  strong Error!
  |  {{error}}
div
  div.panel.panel-default
    div.panel-heading
      h4 Statistics
    div(ng-if='!error').panel-body
      ul
        li
          b Registered Erasmus students
          span(style='margin-left: 1em').badge {{num_erasmus}}
        li
          b Registered peer students
          span(style='margin-left: 1em').badge {{num_peers}}
      div
        div.col-md-4
          label(for='numRegisteredChart') Number of registered Erasmus and peers
          canvas(id='numRegisteredChart' chart-data='numRegistered.data' chart-labels='numRegistered.labels' chart-series='numRegistered.series' chart-options='numRegistered.options').chart.chart-bar
        div.col-md-4
          label(for='erasmusGenderChart') Erasmus gender
          canvas(id='erasmusGenderChart' chart-data='genderErasmus.data' chart-labels='genderErasmus.labels').chart.chart-pie
        div.col-md-4
          label(for='peersGenderChart') Peers gender
          canvas(id='peersGenderChart' chart-data='genderPeers.data' chart-labels='genderPeers.labels').chart.chart-pie
      br
      div
        div.col-md-6
          label(for='registeredStudentsDiffChart') Daily registered students
          canvas(id='registeredStudentsDiffChart' chart-data='registeredStudentsDiff.data' chart-series='registeredStudentsDiff.series' chart-options='registeredStudentsDiff.options').chart.chart-line
        div.col-md-6
          label(for='registeredStudentsCumChart') Total registered students
          canvas(id='registeredStudentsCumChart' chart-data='registeredStudentsCum.data' chart-series='registeredStudentsCum.series' chart-options='registeredStudentsCum.options').chart.chart-line
          