extends layout

block body
  div(ng-controller='AppCtrl').col-md-8
    div(ng-if='!isAuthenticated()')
      h2 Please login
      button(ng-click="authenticate('google')").btn.btn-default Authenticate with Google
    div(ng-if='isAuthenticated()')
      h2 Hello, {{user.name}}
      button(ng-click='logout()').btn.btn-default.pull-right Logout
      
      ul.nav.nav-tabs
        li(ng-class='{active: $route.current.activetab == "index"}')
          a(href='index') home
        li(ng-class='{active: $route.current.activetab == "erasmusList"}')
          a(href='erasmusList') erasmus
        li(ng-class='{active: $route.current.activetab == "peerList"}')
          a(href='peerList') peers
        li(ng-class='{active: $route.current.activetab == "profile"}')
          a(href='profile') my profile

      div(ng-view)

    div
      | AEGEE-Zaragoza's Buddy Pair web client
