extends layout

block body
  div(ng-controller='AppCtrl')
    div(ng-if='!isAuthenticated()')
      h2 Please login
      button(ng-click="authenticate('google')").btn Authenticate with Google
    div(ng-if='isAuthenticated()')
      h2 Hello, {{user.name}}
      button(ng-click='logout()').btn Logout
      
      ul.nav.nav-pills
        li(ng-class='{active: $route.current.activetab == "index"}')
          a(href='index') home
        li(ng-class='{active: $route.current.activetab == "erasmusList"}')
          a(href='erasmusList') erasmus
        li(ng-class='{active: $route.current.activetab == "peerList"}')
          a(href='peerList') tutores
        li(ng-class='{active: $route.current.activetab == "profile"}')
          a(href='profile') mi perfil

      div(ng-view)

    div
      | AEGEE-Zaragoza's Buddy Pair web client
