extends layout

block body
  div(ng-controller='AppCtrl')
    h2 Hello {{name}}
    ul.menu
      li
        a(href='erasmusList') erasmus
      li
        a(href='peerList') tutores

    div(ng-view)

    div
      | AEGEE-Zaragoza's Buddy Pair web client

  script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.js')
  script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular-route.js')
  script(src='js/app.js')
  script(src='js/controllers.js')
