extends layout

block body
  div(ng-controller='AppCtrl')
    div(ng-if='!isAuthenticated()')
      h2 Please login
      button(ng-click="authenticate('google')") Authenticate with Google
    div(ng-if='isAuthenticated()')
      h2 Hello, {{user.displayName}}
      button(ng-if='isAuthenticated()', ng-click='logout()') Logout
    ul.menu
      li
        a(href='erasmusList') erasmus
      li
        a(href='peerList') tutores

    div(ng-view)

    div
      | AEGEE-Zaragoza's Buddy Pair web client

  script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.js')
  script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular-route.js')
  script(src='js/app.js')
  script(src='js/controllers.js')
  script(src='https://cdn.jsdelivr.net/satellizer/0.13.4/satellizer.min.js')
