extends layout

block body
  div(ng-controller='AppCtrl')
    nav.navbar.navbar-inverse.navbar-fixed-top
      div.container
        div.navbar-header
          button(type='button' data-toggle='collapse' data-target='.navbar-collapse').navbar-toggle
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a(href='/').navbar-brand AEGEE-Zaragoza's Buddy Pair
        div(ng-if='!isAuthenticated()').navbar-collapse.collapse
          ul.nav.navbar-nav.navbar-right
            li
              div.btn-nav
                button(ng-click="authenticate('google')").btn.btn-primary.btn-small.navbar-btn Login with Google
        div(ng-if='isAuthenticated()').navbar-collapse.collapse
          ul.nav.navbar-nav
            li(ng-class='{active: $route.current.activetab == "index"}')
              a(href='/') Home
            li(ng-class='{active: $route.current.activetab == "erasmusList"}')
              a(href='/erasmus') Erasmus
            li(ng-class='{active: $route.current.activetab == "peerList"}')
              a(href='/peers') Peers
          ul.nav.navbar-nav.navbar-right
            li(ng-class='{active: $route.current.activetab == "profile"}')
              a(href='/profile') My profile
            li
              div.btn-nav
                button(ng-click='logout()').btn.btn-primary.btn-small.navbar-btn Logout
      script.
        $(document).ready(function() {
          $('.navbar-collapse a').click(function () {
            $('.navbar-collapse').collapse('hide');
          });
        });

    main(ng-if='isAuthenticated()' ng-view).container
    main(ng-if='!isAuthenticated()').container
      h3 Login to start using the application

    footer.footer
      div.container
        p.navbar-text Developed by #[a(href='https://github.com/dbarelop') Daniel Barea] for #[a(href='http://aegee-zaragoza.org') AEGEE-Zaragoza]
        div(ng-if='isAuthenticated()').navbar-form.navbar-right
          select(ng-model='selected_course_year' ng-options='opt as opt for opt in available_course_years' ng-change='onchange_course_year()').selectpicker
