doctype html
html(ng-app="BuddyPairApp")
  head
    meta(charset='utf8')
    base(href='/')
    title AEGEE-Zaragoza's Buddy Pair App

    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css')
    link(rel='stylesheet', href='css/styles.css')
    
    script(src='https://code.jquery.com/jquery-2.2.0.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js')
    script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.js')
    script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular-route.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.2.1/Chart.min.js')
    script(src='http://cdn.jsdelivr.net/angular.chartjs/latest/angular-chart.min.js')
    script(src='https://cdn.jsdelivr.net/satellizer/0.13.4/satellizer.min.js')
    script(src='js/app.js')
    script(src='js/services.js')
    script(src='js/controller/appCtrl.js')
    script(src='js/controller/erasmusCtrl.js')
    script(src='js/controller/peerCtrl.js')
    script(src='js/controller/profileCtrl.js')
    script(src='js/controller/statsCtrl.js')
    script(src='js/controller/newErasmusCtrl.js')
  body
    block body